$main-color: #8ED1E0;
$main-text-color: #494949;

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 0.8rem;
}
.menu {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top:16px;
  &__list {
    display: flex;
    justify-content: center;
    &__info {
      color: blue;
      margin-right: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

small {
  display: block;
  margin-top: 8px;
}