<div class="wrapper">
  <div class="about-site">
    <h2 class="about-site__title">Logumiについて</h2>
    <img src="assets/img/about.jpg" alt="グミでできたクマの画像" class="about-site__img">
    <p class="about-site__text">Logumiではいろんな種類のグミを紹介していきます。<br>
    新しいグミを見つけて、グミの世界をもっと楽しみましょう。</p>
  </div>

  <div class="about-site">
    <h2 class="about-site__title">グミの魅力</h2>
    <img src="assets/img/charm.jpg" alt="グミが2つ重なった画像" class="about-site__img">
    <p class="about-site__text">グミにはこんな魅力があります。</p>
    <ul>
      <li class="about-site__merit">カラフルで楽しい</li>
      <li class="about-site__merit">いろんな食感・いろんな味を体験できる</li>
      <li class="about-site__merit">手を汚さずに食べることができる</li>
      <li class="about-site__merit">噛むことが歯の健康によい</li>
    </ul>
  </div>

  <div class="about-site">
    <h2 class="about-site__title">グミの種類</h2>
    <img src="assets/img/type.jpg" alt="いろんな種類のグミの画像" class="about-site__img">
    <p class="about-site__text">グミの種類は、食感や特徴で大きく5つに分けることができます。</p>
    <ul>
      <li class="about-site__type">ハードグミ</li>
      <li class="about-site__type">ソフトグミ</li>
      <li class="about-site__type">パウダー付きグミ</li>
      <li class="about-site__type">コーティンググミ変わり種グミ</li>
      <li class="about-site__type">変わり種グミ</li>
    </ul>
  </div>

  <div class="registration">
    <p class="registration__text">いろんなグミを一緒に楽しみましょう！！</p>
        <button routerLink="/list" class="registration__btn">
        グミ一覧へ
        </button>
  </div>
</div>