<div class="chat-title">
  チャット画面
</div>
<div class="chat">
  <div class="message">
    <div class="message__box">
      <div class="message__box__text">
        こんにちは。<br>
        ダミーテキストです。
      </div>
      <ul class="message__box__info">
        <li>eiji</li>
        <li>2020.9.18</li>
      </ul>
    </div>

  <div class="send">
    <textarea cols="20" rows="3" class="send__text" placeholder="テキストを入力してください。"></textarea>
    <button class="send__btn" mat-raised-button color="primary">送信</button>
  </div>
</div>