<div class="chat-title">
  チャット画面
</div>
<div class="chat">
  <div class="message">
    <ng-container *ngFor="let comment of comments | async">
      <div class="message__box">
        <div class="message__box__text">
          {{comment.content}}
        </div>
        <ul class="message__box__info">
          <li>{{comment.user.name}}</li>
          <li>Date: {{comment.date | chatDate}}</li>
        </ul>
      </div>
    </ng-container>
  </div>

  <form class="send" (submit)="addComment($event, content)">
    <textarea [(ngModel)]="content" name="comment" cols="20" rows="3" class="send__text"></textarea>
    <button class="send__btn" mat-raised-button color="primary" type="submit">送信</button>
  </form>
</div>