.mat-card {
  text-align: center;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  &__item {
    height: 100%;
  }
  &__img {
    display: block;
    width: 200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 959px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 479px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
}