$main-color: #8ED1E0;
$main-text-color: #494949;

.show {
  width: 80%;
  margin: 16px auto;
  &__image {
    display: block;
    margin: 0 auto;
    width: 45%;
  }
  &__info {
    width: 60%;
    margin: 24px auto;
    &__table {
      height: 400px;
      width: 100%;
      &--head {
        width: 25%;
        font-size: 0.8rem;
        border: 1px solid $main-text-color;
        padding: 8px;
        vertical-align: middle;
        background-color: #eee;
      }
      &--data {
        width: 75%;
        text-align: left;
        font-size: 0.8rem;
        border: 1px solid $main-text-color;
        padding: 8px;
        vertical-align: middle;
        background-color: #fff;
        &__link {
          color: $main-color;
          &:hover {
            text-decoration: underline;
          }
        }
        &__like {
          color: red;
        }
      }
      &--review {
        width: 75%;
        height: 150px;
        text-align: left;
        font-size: 0.8rem;
        line-height: 1rem;
        border: 1px solid $main-text-color;
        padding: 8px;
        vertical-align: middle;
        background-color: #fff;
      }
    }
  }
}

@media screen and (max-width: 959px) {
  .show {
    display: block;
    width: 100%;
    &__image {
      width: 45%;
      img {
        display: block;
        margin: 0 auto 16px;
      }
    }
    &__info {
      width: 80%;
      &__table {
        margin: 0 auto;
      }
    }
  }
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .show__image {
    width: 80%;
    img {
      display: block;
      margin: 0 auto 16px;
    }
  }
  .show__edit__btn {
    width: 100%;
  }
}