$main-color: #8ED1E0;
$main-text-color: #494949;

// 共通設定
// ------------------------------------
* {
  box-sizing: border-box;
}

body {
  font-family: 'ヒラギノ丸ゴ ProN','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  // background-image: image-url("assets/img/gumiback.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position:40%; 
  }

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}


// 各ページごとの中枠
// ------------------------------------
.wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 24px;
  z-index: 0;
}

@media screen and (max-width: 479px) {
  .wrapper {
    width: 100%;
  }
}